<button class="calc_btn" (click)="addNumber('7')">7</button>
<button class="calc_btn" (click)="addNumber('8')">8</button>
<button class="calc_btn" (click)="addNumber('9')">9</button>

<button class="calc_btn" (click)="addNumber('4')">4</button>
<button class="calc_btn" (click)="addNumber('5')">5</button>
<button class="calc_btn" (click)="addNumber('6')">6</button>

<button class="calc_btn" (click)="addNumber('1')">1</button>
<button class="calc_btn" (click)="addNumber('2')">2</button>
<button class="calc_btn" (click)="addNumber('3')">3</button>
<button class="calc_btn" (click)="addNumber('0')">0</button>
<button class="calc_btn" (click)="addNumber('.')">.</button>
<ng-content></ng-content>